@{
    ViewData["Title"] = "Results";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/style.css">

@model User
<div class="text-center">
    <h3>Successfully Registered!</h3>
    @* <div class="container">
        <h2>Submitted Info</h2>
        <p>Name:  @Model.Name</p>
        <p>Email: @Model.Email</p>
        <p>Date of Birth: @Model.DateOfBirth</p>
        <p>Password: @Model.Password</p>
        <p>Favorite Odd Number: @Model.OddNumber</p>
        <a class="pulse" href="/">Home</a>
    </div> *@
    <a class="pulse" href="/">Home</a>
</div>
